jquery ajax practicse/Test wcf/WebApplication1/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65136/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Test_wcf" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="p1" nillable="true" type="q1:Calc" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="p2" nillable="true" type="q2:Calc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="AddResult" nillable="true" type="q3:Calc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sub">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="p1" nillable="true" type="q4:Calc" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="p2" nillable="true" type="q5:Calc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="SubResult" nillable="true" type="q6:Calc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mul">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="p1" nillable="true" type="q7:Calc" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="p2" nillable="true" type="q8:Calc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Test_wcf" minOccurs="0" name="MulResult" nillable="true" type="q9:Calc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>